<%= form_with model: [post, comment], local: false do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, placeholder: "コメントをどうぞ！", class: "form-control" %>
    <%= f.submit "comment!" %>
  </div>
<% end %>