<div class="container-fluid">
  <div class="row d-flex justify-content-center align-items-end my-3">
    <h2 class="border-bottom border-gray m-0 pr-1">Search Results</h2>
    <!--検索結果によって文言変えたいけどタグの出し方分からない-->
    <%# if (!params['content'].empty? && params['tag'] != '---') %>
      <!--<h2 class="border-bottom border-gray m-0 pr-1">Posts search for <%#= @content %> @<%#= tag_i18n %></h2>-->
    <%# elsif !params['content'].empty? %>
      <!--<h2 class="border-bottom border-gray m-0 pr-1">Posts search for <%#= @content %></h2>
    <%# elsif !params['tag'] != '---' %>
      <h2 class="border-bottom border-gray m-0 pr-1"><%#= tag_i18n %></h2>-->
    <%# end %>
  </div>

    <div class="col-12">
      <div class="justify-content-end">
        <%= render 'public/searches/form' %>
      </div>
      <div>
        <%= render 'public/posts/index', posts: @records %>
      </div>
    </div>
</div>
