<div class="container">
    <div class="caption row justify-content-center mt-3 mb-4">
      <h2 class="border-bottom border-gray">What's Vacation Match?</h2>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-12">
        <h5 class="text-center">
          Vacation Matchは<br>
          <strong>「自分に合った旅行先を見つけられるコミュニティサイト」</strong><br>
          です。<br>
          訪れた旅行先のオススメ観光地やグルメなどを、<br>
          「低予算」「駅から近い」「写真映え」<br>
          などのキーワードをつけて投稿します。 <br>
          そして、自分の旅行スタイルに合ったキーワードで検索すると、<br>
          投稿された一覧からそのキーワードの付いたものだけが表示されるので <br>
          より自分に合った旅行先を見つけることもできます。<br>
        </h5>
      </div>
    </div>
    <div class="caption row justify-content-center pt-5 mt-5 mb-4">
      <h2 class="border-bottom border-gray">How to use Vacation Match?</h2>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-12">
        <h5 class="text-center">
          When you wanna post...<br>
      </div>
    </div>





</div>