<div class="container">
    <div class="caption row justify-content-center mt-3 mb-4">
      <h2 class="text-center border-bottom border-gray">What's Vacation Match?</h2>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-12 col-sm-4">
        <h5 class="text-center">
          Vacation Matchは<br>
          <b><font color="orange">「自分に合った旅行先を見つけられるコミュニティサイト」</font></b><br>
          です。<br>
          訪れた旅行先のオススメ観光地やグルメなどを、<br>
          <b>「低予算」「駅近」「写真映え」</b><br>
          などのキーワードをつけて投稿します。 <br>
          そして、自分の旅行スタイルに合ったキーワードで検索すると、<br>
          そのキーワードの付いた投稿だけが表示されるので <br>
          より自分に合った旅行先を見つけることもできます。<br>
        </h5>
      </div>
    </div>
    <div class="caption row justify-content-center pt-5 mt-5 mb-4">
      <h2 class="text-center border-bottom border-gray">How to use Vacation Match?</h2>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-lg-7 col-sm-4 text-center">
        <h5 class="mb-3">
          <i class="fa-solid fa-pen-to-square"></i>&emsp;When you wanna post...<br>
        </h5>
          <img src=" <%= asset_path('post.png') %> " class="img-fluid img-thumbnail mx-auto d-block" alt="投稿画像サンプル" >
        <h5 class="mb-5">
          画像、タイトル、キャプション、タグ、キーワードを入力して投稿！<br>
          キーワードは沢山入力してみよう！
        </h5>

        <h5 class="mb-3">
          <i class="fa-solid fa-magnifying-glass"></i>&emsp;When you wanna search...<br>
        </h5>
          <img src=" <%= asset_path('search.png') %> " class="img-fluid img-thumbnail mx-auto d-block" alt="検索画像サンプル">
        <h5 class="mb-3">
          気になる都道府県、もしくはキーワードで検索してみよう！<br>
          きっとあなたに合った目的地が見つかるはず！
        </h5>
      </div>
    </div>
</div>