@use '~bootstrap/scss/bootstrap';

/*Googleフォント用*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


h2, h4, h6, li {
  font-family: 'Merriweather', serif;
}

.btn-warning {
    background: #ffeddb; //ボタンの背景色
    color: #ff840a; //ボタンのテキストの色
}
.text-center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

  @media screen and (max-width:540px) {
    .block-width {
      width: 100%;
    }
  }

// .hover:hover{
// 	color: #FF0000;
// 	font-size: 20px;
// 	font-weight: bold;
// }
// .scale-img {
// 　transition-duration: 0.5s; /*変化の時間*/
// }
// .scale-img:hover {
// 　transform: scale(1.2,1.2); /*画像の拡大*/
// 　cursor: pointer; /*カーソルをポインターにする*/
// }