@use '~bootstrap/scss/bootstrap';

/*Googleフォント用*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


h2 {
  font-family: 'Merriweather', serif;
}

h4 {
  font-family: 'Merriweather', serif;
}

li {
  font-family: 'Merriweather', serif;
}

.btn-warning {
    background: #ffeddb; //ボタンの背景色
    color: #ff840a; //ボタンのテキストの色
}
